/*  ESTILZANDO PÃGINA PRINCIPAL  */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
   
}

.nav-header{
    position: fixed;
}

.nav-tittle{
    color: blue;
    font-family: 'Times New Roman', Times, serif;

}

.nav-tittle > span{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.img-lupa{
    width: 30px;
    height: 30px;
    transition: 1.2s;
}

.img-lupa:hover{
    transition: 1.2s;
}

.tittle-banner{
    text-align: center;
    margin-top: 50px;
}

.banner-img{
    margin-top: 30px;
}


.container-recomend{

    text-align: center;
    margin-top: 40px;
}


/*    --------------------------     */