<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <h2 class="nav-tittle" href="">Tech<span>Info</span></h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/autenticacao">Login</a>
          </li>
        </ul>
        <div class="closer">
          <a href="/"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
        </div>

      </div>
    </div>
  </nav>
</header>




<main>
 
 <div class="container" id="container-cadastro">
  <div class="row">
  <div class="col-6" id="cadastro"></div>
  <div class="col-6" id="input-cadastroa">
    <h1 class="titulo-cadastro">Criar conta</h1>
   
    <form action="/cadastro_usuario" method="post">
      <label for="inputEmail" class="form-label">Email: </label>
      <input type="email" name="inputEmail" class="form-control" id="inputEmail">
      <label for="inputPassowrd" class="form-label">Senha: </label>
      <input type="password" name="inputPassword" class="form-control" id="inputPassword">
      <label for="inputConfirm" class="form-label">Confirmar senha: </label>
      <input type="password" name="inputConfirm" class="form-control" id="inputConfirm">
      <input type="checkbox" name="inputAdm" id="inputAdm"> Administrador
      <br>
      <input type="checkbox" name="inputCliente" id="inputCliente"> Cliente
      <br>
      <div class="button-cadastro">

          <input type="submit" class="btn btn-primary" value="Cadastrar">
          <input type="reset" class="btn btn-warning" value="Limpar">

      </div>
      
    </form>
  </div>
  </div>
 </div>

</main>

