<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <h2 class="nav-tittle" href="">Tech<span>Info</span></h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/autenticacao">Login</a>
          </li>
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/banner1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/Banner2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/banner3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  </div>
  <div class="container-recomend">

    <h3 class="container-tittle">Nossos produtos, Confira já !!!</h3>

    <div class="container-img">

      <div class="img-produtos">
        <div class="">
          <img src="/img/Notebook.jpg" alt="Notebook" class="image">
          <br>
          <div class="btn">
            <button type="button" class="btn btn-primary">Venha conferir</button>
          </div>

        </div>

        <div class="">
          <img src="/img/Teclado e Mouse.jpg" alt="Teclados e Mouse´s" class="image">
          <br>
          <div class="btn">
            <button type="button" class="btn btn-primary">Venha conferir</button>
          </div>
        </div>

        <div class="">
          <img src="/img/Fone.jpg" alt="Fones" class="image">
          <br>
          <div class="btn">
            <button type="button" class="btn btn-primary">Venha conferir</button>
          </div>
        </div>

        <div class="">
          <img src="/img/Impressora.jpeg" alt="Impressoras" class="image">
          <br>
          <div class="btn">
            <button type="button" class="btn btn-primary">Venha conferir</button>
          </div>

        </div>

      </div>

    </div>

    <div class="barra-pesquisa">

      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="O que procura?" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>

    </div>

    <div class="container-fluid">
      <div class="row">
       {{#each produtos}}
        <div class="col-2" id="coluna-conteudo">
          <div class="card" style="width: 18rem;">
            <img src="/img/{{imagem}}" class="card-img-top" alt="{{produto}}">
            <div class="card-body">
              <h5 class="card-title">{{produto}}</h5>
              <p class="card-text">R$ {{preco}}</p>
            </div>
           
              <a href="/autenticacao" class="btn btn-primary">Comprar</a>
            <br>
              <a href="/autenticacao" class="btn btn-warning">Adicionar no carrinho</a>
         
           
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  
</main>