<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h2 class="nav-tittle" href="">Tech<span>Info</span></h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autenticacao">Login</a>
                    </li>
                </ul>
                <div class="closer">
                    <a href="/"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a> 
                </div>

            </div>
        </div>
    </nav>
</header>


<main class="login">

<div class="container-login">
   
    <div class="form-login">

        <h2 class="tittle-login" id="login"></h2>

        <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Seu E-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Nunca compartilharemos seu E-mail com mais ninguém.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Lembrar de mim.</label>
    <br>
    <a href="">Esqueceu a senha?</a>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
  <a href="/usuarios" class="btn btn-warning">Não tem cadastro? Cadastre já.</a>
</form>
    </div>
    
</div>

</main>